<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chuck Norris Jokes</h1>
    <p>Here you can get a random Chuck Norris joke</p>
    <form action="/" method="GET">
      <button type="submit">Get joke</button>
    </form>
    <h3><%= randomJoke.value %></h3>
  </body>
</html>
